* {
    margin:0;
    padding: 0;
}
.nav-bar {
    width:  80%;
    height: 120px;
    margin: 20px auto;
    background-color: #fcfcfc;
    border-radius: 15px;
    box-shadow: 0 1px 8px 0 rgb(32 33 36 / 28%);

    & .nav-bar-element {
        height: 100%;
        & ul {
            margin: 15px auto;

            & li {
                float: left;
                width: 25%;
                height: 100%;
                line-height: 50px;
                text-align: center;
                list-style: none;

                & a {
                    text-decoration: none;
                    color: #646464;
                    font-size: 1.72em;
                    display: block;

                    transition: .4s;
                    &:hover {
                        font-size: 2em;
                        transition: .4s;
                    }
                }
            }
        }
    }

    & .check-size {
        outline: 1px dotted red;
    }
}

.window-controller {
    display: block;
    padding: 5px;
    background-color:#ededed;
    border-radius: 15px 15px 0px 0px;

    & .window {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1.46px solid lightgrey;
        display: inline-block;
        margin: 5px 2px;

    }

    & .window-close {
        background-color: #d55934;
    }

    & .window-minimize {
        background-color: #f1c54a;
    }

    & .window-maximize {
        background-color: #22b12d;
    }
    
}

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@include mobile {
    .nav-bar {
        width: 100%;
    }
}

@include tablet {
    .nav-bar {
        width: 100%;
    }

}
