/* imports */
@font-face {
    font-family: 'AppleSDGothicNeoL';
    src: url('/AppleSDGothicNeoL') format('ttf');
}

/* variables */
$main-light-color: #fcfcfc;
$point-light-color: #ededed;
$linear-color: #eaecef;

* {
    margin:0;
    padding: 0;
}

.nav-bar {
    width:  80%;
    height: 120px;
    margin: 20px auto;
    background-color: $main-light-color;
    border-radius: 15px;
    box-shadow: 0 1px 8px 0 rgb(32 33 36 / 28%);

    & .nav-bar-element {
        height: 100%;

        & ul {

            & li {
                float: left;
                width: 14%;
                height: 100%;
                text-align: center;
                list-style: none;

                & a {
                    text-decoration: none;
                    color: #646464;
                    font-size: 1.72em;
                    display: block;
                    transition: .4s;

                    &:hover {
                        font-size: 2em;
                        transition: .4s;
                    }
                }

                & .search-box {
                    border: 1px $point-light-color solid;
                    border-radius: 10px;
                    padding: 2px 3px;
                    line-height: 30px;
                    transition: .6s;
                    
                    & input {
                        border: 0px;
                        padding: 3px 5px;
                        background-color: $main-light-color;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                & .focus {
                    border: 1.34px #26a610 solid;
                    transition: .6s;
                }

                & .color-mode-box {
                    display: inline-bock;

                    & .switch-name {
                        font-size: 0.92rem;

                        & input {
                            display: none;
                        }
                        & .switch { 
                            height: 22px;
                            border: 1px $point-light-color solid;
                            border-radius: 15px;
                            background-color: $point-light-color;
                            width: 40px;
                            position: relative; 
                            transition: .6s;
                            display: inline-block;
                            top: 5px;

                            & .switch-button {
                                position: absolute;
                                top: 1px;
                                left: 1px;
                                width: 20px;
                                height: 20px;
                                border-radius: 30px;
                                background-color: $main-light-color;
                                transition: .6s;

                            }
                            & .active {
                                left: 19px;
                                transition: .6s;
                            }
                        }

                        & .active {
                            background-color: #67d370;
                        }
                    }
                    

                    & .comming-soon {
                        display: none;
                        transition: .6s;
                        width: 60px;
                        height: 20px;
                        border: 3.34px solid black;
                        border-radius: 12px;
                        font-size: 0.84rem;
                        background-color: $main-light-color;
                        position: absolute;
                        top: -35px;
                        left: 75px;
                        line-height: 25px;
                    }

                    & .ment {
                        display: block;
                        transition: .6s;
                    }
                }
            }

            li:nth-child(4) {
                margin-left: 180px;
            }

            li:nth-child(5) {
                position: relative;
            }
        }
    }

    & .check-size {
        outline: 1px dotted red;
    }
}

.dark {
    $main-light-color: #333333;
}

.window-controller {
    display: block;
    padding: 5px;
    background-color: $point-light-color;
    border-radius: 15px 15px 0px 0px;

    & .window {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1.46px solid lightgrey;
        display: inline-block;
        margin: 5px 2px;

    }

    & .window-close {
        background-color: #d55934;
    }

    & .window-minimize {
        background-color: #f1c54a;
    }

    & .window-maximize {
        background-color: #22b12d;
    }
    
}


.phantom-body {
    width: 60%;
    margin: 40px auto;
    min-height: 800px;

    & .content__default {
        margin-top: 60px;
        & p {
            line-height: 30px;

            & code {
                border: 1px $point-light-color solid;
                border-radius: 7px;
                font-weight: 500;
                font-size: 1.3em;
                padding: 2px 5px;
                margin: 0px 2px;
                background-color: $point-light-color;
            }
        }
        & h1, h2, h3, h4, h5, h6 {
            margin: 20px 0px;
            color: #5a5a5a;

            & .header-anchor {
                display: none;
            }
        }

        & h2 {
            margin: 60px 0px;
        }

        & a {
            text-decoration: none;
            color: #d76565;
            font-weight: bold;
        }
        & pre[class*=language-] {
            padding: 1.25rem 1.5rem;
            
        }

        & div[class*=language-] pre, div[class*=language-] pre[class*=language-] {
            background: transparent;
            position: relative;
            z-index: 1;
            
        }
        & .line-numbers-mode {
            position: relative;
            font-size: 1.3em;
            font-family: monospace;
            border: 0.72px solid $point-light-color;
            border-radius: 15px;
            background-color: $main-light-color;
            margin: 20px 0px;

            & .language-java {
                vertical-align: middle;
                padding-left: 4.5rem;

                & .annotation {
                    color: #c5c00f;
                }
                & .keyword {
                    color: #b36dff;
                    font-weight: bold;
                }
            }

            & .line-numbers-wrapper {            
                position: absolute;
                top: 0;
                width: 3.5rem;
                text-align: center;
                padding: 1.25rem 0;
                border-right: 1.67px $linear-color solid;


            }
        }

        & p {
            margin-bottom: 30px;
        }
    }

}

/* ν‘Έν„° */
.inner-footer {
    width: 100%;
    height: 200px;
    background-color: #5a5a5a;
}


@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@include mobile {
    .nav-bar {
        width: 100%;
    }
}

@include tablet {
    .nav-bar {
        width: 100%;
    }

}
